doctype html
head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    link(href='app.css' rel='stylesheet')
#container
#dialogs
    #room-build
        .dialog-info
            span.tac.name
            span.description
        .dialog-interactions
            .buttons
                .button.cancel
                .button.purchase-items
                .button.pickup-objects
                .button.confirm
            .object-selection
script(src='app.js' type='module')
