doctype html
head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    link(href='app.css' rel='stylesheet')
#container
#dialogs
    #info.modal
        .flex
            .button.close.float-right
        .message
    #yes-no.modal
        .message
        .flex
            button.no
            button.yes
    #input.modal
        .message
        input.input(type="text")
        button.cancel Cancel
        button.ok OK
    #select.modal
        .message
        div
            select.input
        .flex
            button.cancel Cancel
            button.ok OK
    #tile-inspector
        .flex.padding
            span.title Tile inspector
            .button.close.float-right
        .line
        .flex
            span X:
                input.coord.x-coord(type="text" value="14" disabled)
            span Z:
                input.coord.z-coord(type="text" value="12" disabled)
            .spinner
                button.up(disabled)
                button.down(disabled)
            button.add.addFloor(disabled)
        .floors
        .walls
    #room-build
        .dialog-info
            span.tac.name
            span.description
        .dialog-interactions
            .buttons
                .button.cancel
                .button.purchase-items
                .button.pickup-objects
                .button.confirm
            .object-selection
script(src='app.js' type='module')
